/* CSS Document */


@keyframes Float_rl {
  0% {
	opacity: 0;
	transform: translateX(50px);
  }
  100% {
	opacity: 1;
	transform: translateX(0);
  }
}

@keyframes Float_du {
  0% {
	opacity: 0;
	transform: translateY(50px);
  }
  100% {
	opacity: 1;
	transform: translateY(0);
  }
}

@keyframes Float_ud {
  0% {
	opacity: 0;
	transform: translateY(-50px);
  }
  100% {
	opacity: 1;
	transform: translateY(0);
  }
}

body{background:#000;
	}
#metawrapper{
width: 100%;
	height: 100%;
	background: url("work/astarte/astarte1_bg.png");
		background-size:cover; 
}

#wrapper{
width: 80%;
	height: 80%;
margin: 0 auto;
	margin-bottom: 24px;
	background-color:rgba(0,0,0,0.5);
}

#logo{
	position: static;
	top: 185px;
	margin: 24px 0;
	width:100%;
	text-align:center;
}

#title{
	position: static;
	top: 185px;
	margin: 24px 0;
}

#title h1{
	font-family: ta-houdate-m500, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: center; 
	font-size: 40px;
	color: #FFFFFF;
	margin: 24px 0;
}

#title h2{
	font-family: ten-mincho, serif;
	font-weight: 400;
	font-style: normal;
	text-align: center; 
	font-size: 24px;
	color: #FFFFFF;
	margin: 24px 0;
}

#title2{
	position: static;
	top: 200px;
	margin: 24px 0;
}

#title2 h2{
	font-family: 'Yu Gothic Light', sans-serif;
	text-align: center;
	color:#486D52;
	font-size: 30px;
	margin: 24px 0;
	animation-duration: 2s;
	animation-name: Float_du;
}

#title2 h3{
	font-family: 'Yu Gothic Light', sans-serif;
	text-align: center; 
	font-size:15px;
	margin: 24px 0;
	animation-duration: 2.5s;
	animation-name: Float_du;
}

#navi{
	position: static;
	top: 250px;
	wide:50px;
	margin: 24px 0;
	margin-bottom: 24px;
}

#navi:after {
  display: block;
  clear: both;
  content: "";
}

#navi h2{
	font-family: trajan-pro-3, serif;
	text-align: center;
	color:#F60;
	font-size: 30px;
	margin: 24px 0;
	animation-duration: 3s;
	animation-name: Float_du;
}

.mdl-card__title-text{
	font-family: trajan-pro-3, serif;
}

#navi h3{
	font-family: 'Yu Gothic Light', sans-serif;
	text-align: center;
	color:#F60;
	font-size: 20px;
	margin: 24px 0;
	animation-duration: 3.5s;
	animation-name: Float_du;
}

#navi h4{
	font-family: 'Yu Gothic Light', sans-serif;
	text-align: center;
	color:#F60;
	font-size: 15px;
	margin: 24px 0;
	animation-duration: 3.5s;
	animation-name: Float_du;
}



a{
	color: #F0FF00;
	text-decoration:none;
padding-bottom:1px;
	}

a:hover{
	color:#FD6A6A;
	transition: color 0.5s;
	}

#fotter{
	font-family: '源ノ角ゴシック JP Light', sans-serif;
	font-size: 12px;
	margin: 24px 0;
	background-color:rgba(0,0,0,0.5);
}

#fotter h3{
	font-family: '源ノ角ゴシック JP Light', sans-serif;
	text-align: center;
	font-size: 12px;
}


.cd-card-square.mdl-card {
	float:left;
  width: 320px;
  height: 320px;
	margin: auto;
	margin-top:24px;
	margin-bottom:24px;
	margin-left:10px;
	
}
.cd-card-square > .mdl-card_a_title {
  color: #fff;
  background:
    url('./work/astarte/astarte1logo.png')  50% 50% no-repeat #000000;
	background-size:contain;

}
	
	.cd-card-square > .mdl-card_b_title {
  color: #fff;
  background:
    url('./work/stellastelekloid/ss_bg.png')  50% 50% no-repeat #000000;
	background-size:contain;

}
	.demo-card-image_a_filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
