/* CSS Document */

body{
	background:#000;
	color:#FFC600;
	background-image: url("./ss_bg.png");
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	}

.mdl-menu__container.is-visible .mdl-menu{
    background: #000;  
    color: #fff; // for the header of that menu
} 
.mdl-menu__container.is-visible .mdl-menu:hover {
   color: #fff; // links
}

.mdl-menu__container.is-visible .mdl-menu__item{
    background: #000;  
    color: #fff; // for the header of that menu
} 
.mdl-menu__container.is-visible .mdl-menu__item:hover {
   color: #fff; // links
}

#wrapper{
width: 80%;
margin: auto;
	background-color:rgba(0,0,0,0.7);
}

#logo{
	position: static;
	top: 185px;
	margin: 24px 0;
	width:100%;
	text-align:center;
}

a{
	color: #EDFF9F;
	text-decoration:none;
padding-bottom:1px;
	}

a:hover{
	color:#FF7E00;
	transition: color 0.5s;
	}

#fotter{
	font-family: '源ノ角ゴシック JP Light', sans-serif;
	font-size: 12px;
	margin: 24px 0;
		background-color:rgba(0,0,0,0.5);
}



.cd-card-square.mdl-card {
	float:left;
  width: 320px;
  height: 320px;
	margin: auto;
	margin-top:24px;
	margin-bottom:24px;
	margin-left:10px;
	margin-right:10px;
	
}
.cd-card-square > .mdl-card_a_title {
  color: #fff;
  background:
    url('./work/astarte/astarte1logo.png')  50% 50% no-repeat #000000;
	background-size:contain;

}
	
	.cd-card-square > .mdl-card_b_title {
  color: #fff;
  background:
    url('./work/stellastelekloid/ss_bg.png')  50% 50% no-repeat #000000;
	background-size:contain;

}
	.demo-card-image_a_filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

